.header__order {
  width: 140px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  background-color: #fff;
  border-color: @grey;
  
  &:hover,
  &:active {
    color: red;
    border-color: red;
    .transition();
  }
}

.header__phone {
  font-size: 13px;
  font-weight: 400;
}

.search {
  overflow: hidden;
}

.sidebar__link,
.menu__item {
  font-weight: 500;
}

.footer__bottom .sidebar__btn {
  width: 180px;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  text-decoration: none !important;
  background-color: @grey;
  
  &:hover,
  &:active {
    color: red;
    .transition();
  }
}

.sidebar__menu {
  margin-bottom: 60px;
}

.tabs__btns {
  padding-left: 300px;
}

.tabs__next {
  width: 30px;
  height: 30px;
  color: @blue;
  line-height: 30px;
  background-color: #fff;
  
  &:hover,
  &:active {
    color: @cyan;
    background-color: #fff;
  }
  
  &--dark {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: @blue;
    
    &:hover,
    &:active {
      color: #fff;
      background-color: @cyan;
      .transition();
    }
  }
}

.nav__link {
  padding-left: 60px;
}

.nav__link::before {
  width: 50px;
  height: 50px;
  top: -15px;
  left: 0;
}

.nav__link--03 {
  &::before {
    left: 10px;
    top: -10px;
    width: 40px;
    height: 40px;
  }
}

.nav__sublist {
  padding-left: 40px;
}

.nav {
  background-color: rgba(250,250,250,1);
}

.about__wrap {
  border-top: 0;
}

.sidebar__link::after {
  content: "\203A";
  transform: rotate(90deg);
  color: @blue;
  font-size: 20px;
  line-height: 1;
  top: 7px;
  .transition();
}

.sidebar__link--opened::after {
  transform: rotate(-90deg);
  .transition();
}

@media (max-width: 1022px) {
  .tabs__btns {
    padding-left: 0;
  }
  .sidebar__menu {
    margin-bottom: 0;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__menu {
    padding-right: 0;
  }
  .header__order {
    margin-right: 50px;
  }
}

@media (max-width: 766px) {
  .nav__link {
    padding-right: 40px;
  }
  .header__order {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .header__order {
    margin-right: 0;
  }
}
